@import url(https://fonts.googleapis.com/css?family=Varela:regular);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: Varela;
    color: #000000;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {}

li {
    list-style: none;
}

/* ---------------------------------------- */
.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

/* ---------------------------------------- */
[class*="__container"] {
    max-width: 1230px;
    margin: 0 auto;
    padding: 10px 15px;
}

/*------------------------------------------*/

.hero_header {
    background-image: url(img/Header/BackGround.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__container {}

.hero_logo {
    padding-top: 100px;
}

.hero_content {
    max-width: 700px;
    margin: 0 auto;
    align-items: center;
    padding: 100px 0px 200px 0px;
}


.hero_title {
    padding-bottom: 30px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.hero_sub-title {
    margin: auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    width: 150px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.hero_m_logo {
    padding-bottom: 30px;
    text-align: center;
}

.hero_text-title {
    padding-bottom: 30px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.hero_text {

    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

/*-----------------------------------------*/
.nav_object {
    background-color: #196fc0;
}

.nav__container {
    display: flex;
    justify-content: space-between;
}

.nav_logo {

    align-items: center;
}

.nav_list {
    display: inline-flex;
    align-items: center;
}

.nav_item {
    color: #fff;
    letter-spacing: 0.1vw;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    transition: all 0.2s;
}

.nav_item a {
    color: #fff;
}

.nav_item:not(:last-child) {
    margin-right: 15px;
}

.nav_item:first-child {
    margin-right: 50px;
}

.nav_item:hover {
    padding-bottom: 5px;
    transition: all 0.2s;
    border-bottom: 2px solid #fff;
}

/*------------------------------------------------*/
.title-page {
    padding: 50px 10px 10px 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 32px;
    color: #196fc0;
}

.subtitle-page {
    padding: 0px 10px;
    text-align: center;
    margin: 0 auto;
    color: #666666;
    font-size: 16px;
    letter-spacing: 0.3vw;
}

.welcome-grid__container {
    padding: 50px 10px;
    display: grid;
    grid-template: repeat(6, auto) / repeat(5, auto);
    align-items: center;
}

.welcome-grid__container div {
    padding: 5px;
}

.grid_item1 {
    text-align: right;
    grid-area: 1/1/3/2;
}

.grid_item5 {
    grid-area: 1/5/3/6;
}

.grid_item6 {
    text-align: right;
    grid-area: 4/1/6/2;
}

.grid_item7 {
    grid-area: 4/5/5/6;
}

.grid_item8 {
    grid-area: 3/4;
}

.grid_item9 {
    text-align: right;
    grid-area: 3/2;
}

.grid_item2 {
    text-align: center;
    align-items: center;
    grid-area: 1 / 3 / 6 / 3;
}

.grid_item3 {
    text-align: center;
    align-items: center;
    grid-area: 1 / 2 / 3 / 3;
}

.grid_item10 {
    text-align: center;
    align-items: center;
    grid-area: 4 / 2 / 6 / 3;

}

.grid_item4 {
    text-align: center;
    align-items: center;
    grid-area: 1 / 4 / 3 / 5;
}

.grid_item16 {
    text-align: center;
    align-items: center;
    grid-area: 4 / 4 / 6 / 5;
}

.grid_title {
    font-size: 16px;
    font-weight: bold;

}

.grid_subtitle {
    font-size: 12px;
}

/*------------------------------------------------------*/
.paralax {
    background-image: url(img/paralax/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax__container {
    padding: 80px 10px;
    max-width: 900px;
    margin: 0 auto;
}

.paralax_text-first {
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.paralax_text-second {
    padding: 30px 10px 80px 10px;
    text-align: center;
    font-size: 36px;
    color: #fff;
}

.paralax_text-second span {

    color: #196fc0;
}



.paralax_button_layer {
    text-align: center;
    margin: 0 auto;
    max-width: 220px;
    transition: all 0.4s;
    color: #fff;
    background-color: #196fc0;
    padding: 10px 20px;
}

.paralax_button_layer:hover {

    transform: translateY(-5px);
    transition: all 0.4s;
    background-color: #104374;
}

/*---------------------------------------------*/
.about_title {
    color: #196fc0;
}

.about_block {}

.about__container {}

.about_subtitle {}

.subtitle-page {}

.about_card-section {
    padding: 50px 10px 50px 10px;
}

.about_cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.about_item {
    font-family: 'Open Sans';
    padding: 0px 15px;
    flex: 25%;
    transition: 0.5s;
}





.about_item img {
    padding-bottom: 50px;
}

.about_item:hover {
    transform: translateY(-10px);
    transition: 0.5s;
    filter: drop-shadow(1px 2px 30px #196fc0);
}

.about_item img:last-child {
    padding-bottom: 30px;
}

.about_item h3 {
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
}


.about_item p {
    padding-bottom: 30px;
    font-size: 13px;
}

.about_item a {
    font-family: 'varela';
    font-size: 11px;
    color: #999
}

.about_item a:hover {
    font-family: 'varela';
    font-size: 11px;
    color: #196fc0;

}

/*--------------------------------------*/
.video_block {
    background-color: #f6f6f6;
}

.video_block__container {
    padding-bottom: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.video_block__container img {
    max-width: 100%;
}

.video_block-column1 {

    flex: 50%;
}

.video_block-title {
    padding-top: 20px;
    font-size: 17px;
    font-weight: bold;
}

.video_block-divider {
    padding-bottom: 30px;
}

.video_block-video {}

.video_block-text {
    font-size: 13px;
    font-weight: normal;
    padding-top: 30px;
}

.video_block-column2 {
    flex: 50%;
}

.video_block-column2 h3 {
    font-size: 13px;
    font-weight: 600;
}

.video_block-column2 span {
    color: #196fc0;
}

.video_column2-bar {
    padding-bottom: 20px;
}

.percent1 {}

@media screen and (max-width:1140px) {

    .video_block-column1 {
        text-align: center;
        flex: 100%;
        padding-bottom: 50px;
    }

    .video_block-column2 {
        flex: 100%;
        text-align: center;
    }
}

/*---------------------------------------------------*/
.services_block {}

.services_block__container {
    padding: 10px 10px 30px 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.services_card {
    text-align: center;
    padding-left: 30px;
    flex: 20%;
    padding-bottom: 20px;
    transition: 450ms;
}

.services_text {
    font-weight: 600;
    padding-top: 25px;
    font-size: 16px;
    font-family: 'varela';
}

.about_subtitle {}

.services_card:hover {
    transform: translateY(-10px);
    transition: 0.5s;
    filter: drop-shadow(1px 2px 30px #196fc0);
}

/*-------------------------------------------------*/
.section-g {
    height: 430px;
    width: 100%;

    position: relative;
}

.content-g {

    width: 1280px/1366px * 100%;
    max-width: 1366px;
    margin: 0 auto;
}

.slider {

    width: 100%;
    height: 430px;
    overflow: hidden;
}

.middle {
    position: absolute;
    top: -32.5%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.navigation {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: .5;
    border-radius: 10px;
    transition: all .4s ease;
}

.bar:hover {
    opacity: 1;
    transform: scale(1.1);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {

    text-align: center;
    background-color: #196fc0;
    width: 25%;
    transition: all .6s ease;
    padding-top: 80px;
}

.slide img {}

.slider_text {
    margin: 0 auto;
    max-width: 1000px;
    color: #fff;
    font-size: 14px;
    padding: 50px 10px 20px 10px;
}

.slider_subtext {
    padding-top: 20px;
    color: #fff;
    font-size: 14px;
}

.slider_position {
    color: #fff;
    font-size: 10px;
    font-weight: 200;
    padding-top: 5px;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -25%;
}

#r3:checked~.s1 {
    margin-left: -50%;
}

#r4:checked~.s1 {
    margin-left: -75%;
}

/*--------------------------------------*/
.team_block {
    padding: 100px 10px 50px 10px;
    background-color: #ddd;
}

.cards__container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.team_card {

    transition: all 0.4s;
    border: 5px solid white;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    flex: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 70px 63px -60px #000000;
    width: 300px;
    height: 400px;
    max-width: 300px;
}

.team_card:hover {
    background-position: left;
    transition: all 0.4s;
    background-size: 400px;
    transform: scale(1.1);
}

.team_card-content {
    transition: all 0.5;
    opacity: 0;
    width: 290px;
    height: 400px;
    max-width: 300px;
    background-color: #196fc0e1;
}

.team_card-content:hover {
    opacity: 1;
    transition: all 0.3;
}

.team_card-content img {
    padding-top: 50px;
}


.team_card-title {
    text-transform: uppercase;
    padding-top: 50px;
    color: #fff;
    font-size: 34px;
    font-weight: 700;
}

.team_card-subtitle {
    text-transform: uppercase;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: lighter;

}

.team_social {
    border: 1px solid white;
    padding: 1px 20px;
    margin-bottom: 5px;
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    left: 22%;
}

.fa {
    transition: all 0.4s;
    color: #fff;
    padding: 7px;
}

.fa:hover {
    transition: all 0.4s;
    transform: scale(1.5);
}

/*------------------------------------------*/
.unlimited_block {
    padding: 30px;
    background-image: url(img/Layer11.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.unlimited__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.unlimited_title {
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 44px;
}

.unlimited_subtitle {
    padding-bottom: 50px;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
}

/*---------------------------------------------------*/
.unlimited_buttons_container {
    margin: 0 auto;
    display: inline-flex;
    display: flex;
    justify-content: center;

}

.unlimited_button-find {
    background-image: linear-gradient(to right, #2a82d4 0%, #196fc0 51%, #2f87da 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;

    display: block;
}

.unlimited_button-find:hover {
    transform: translateY(-5px);
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


.unlimited_button-buy {
    background-image: linear-gradient(to right, #2a82d4 0%, #196fc0 51%, #2f87da 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;

    display: block;
}

.unlimited_button-buy:hover {
    transform: translateY(-5px);
    background-position: right center;
    color: #fff;
    text-decoration: none;
}




.unlimited_buttons a {
    font-size: 13px;
}

/*----------Map------------------*/

.img_map {
    padding-top: 50px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}



/*--------------Footer-----------------------*/
.footer-socila_block {
    background-color: #196fc0;
}

.footer__container-social {
    display: flex;
    flex-wrap: wrap;
}

.footer_social-content {
    margin: 0 auto;
}

.footer_social .fa {
    color: #fff;

}



.footer__container_links {


    display: flex;

    justify-content: center;
}

.nav_list-footer {
    flex-wrap: wrap;
    align-items: center;
    display: inline-flex;

}

.nav_item-footer {
    margin-right: 15px;
}

.nav_item-footer a {
    font-size: 13px;
    color: #000000;
}

.nav_item-footer a:hover {
    font-size: 13px;
    color: #196fc0;
}

.divider_footer {

    border-bottom: 1px solid #999;
}

.footer_text {
    padding: 10px;
    text-align: center;
    font-size: 13px;
    color: #999;
}